Hello world.

<% @blog_all.each do |post| %>

<!--  Route Generated from named Route-->

  <div> <%= link_to post.title,  post %>
    <% if post.draft?  %>
      <div class="bg-gray-100 p-2 rounded text-gray-900">Draft</div>
      <% else if post.scheduled? %>
        <div class="bg-blue-100 p-2 rounded text-gray-900">Scheduled</div>
      <% else %>
          <div class="bg-green-100 p-2 rounded text-gray-900">Published</div>
      <% end %>
  </div>



    <% end %>

  <div> <%=  post.content %> </div>
<% end %>
<div class="mt-16 mb-16 justify-between">
  <%== pagy_nav(@pagy) %>
</div>


<%#= link_to "Back", :back %>